{% extends 'products/base.html' %}
{% load static %}

{% block css %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/products.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Store</h1>
            {% include 'products/category.html' %}


        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
			<div class="row">
                <div class="col-lg-5" >
                    <img src="{{ product.image.url }}" alt="" class="big">
                    <br>
                    <div class="center">
                        {% for img in product.photo_set.all %}
                        <img src="{{ img.add_photo.url }}" alt="" class="small">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-7">
                    <h1 class="title">{{ product.name }}</h1>
                    <h4>{{ product.short_description }}</h4>
                    <h2 class="price">{{ product.price }} руб.</h2>
                    <button type="button" class="btn
btn-outline-success basket">Отправить в корзину
                            </button>
<!--                    <h4 class="basket"><a href="#">В КОРЗИНУ</a></h4>-->
                    <h5 class="quantity">В наличии: {{ product.quantity }} шт.</h5>
                    <div>
		        	{{ product.description|safe }}
					</div>
                </div>
            </div>           

        </div>

    </div>

</div>
<!-- /.container -->


{% endblock %}
