{% extends 'base.html' %}


{% block content %}
{{ super() }}
<hr>
<h2>Список статей</h2>
<ul class="menu2">
    {% for p in posts %}
    <li>
        <p class="title">
<!--            <a href="{{ url_for('show_post', alias = p.url)}}">{{ p.title }}</a>-->
            {{ p.title }}
        </p>
        <div class="annonce">{{ p.text[:240] | striptags }}
            <p class="sale">
            <a href="{{ url_for('show_post', alias = p.url)}}">Купить</a>
            </p>
        </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}