<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Курсы программирования - {{ title }}</title>
    {% else %}
    <title>Курсы программирования</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% block content %}
<ul class="menu">
    {% for m in menu %}
    <li>
        <a href="{{ m.url }}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
<div class="content">
    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Про Flask</h1>
    {% endif %}
    {% endblock %}
</div>
</body>
</html>