<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h1>Информация</h1>
<h2>Для генерации пароля:</h2>
<p>- введите требуемую длину пароля (от 6 до 15 символов).<br>- по умолчанию используются строчные буквы английского алфафита.<br>- при необходимости использовать в пароле заглавные буквы, цифры или спецсимволы поставьте галочку.<br>- кликните "Сгенерировать пароль".</p>
<p><a href="{% url 'home' %}">Вернуться на главную</a></p>

</body>
</html>